{% extends "SiteBundle::public.html.twig" %}


{% block top_slider %}
    <div class="row">
        <div id="slider" class="flexslider home-slider">
            <ul class="slides">
                {% for slide in topSliderBlocks %}
                    {#{{ dump(slide) }}#}
                    <li>
                        <img src="{{ slide.image.getResize("1280x500x2")|relpath }}" alt="{{ slide.name }}" title="{{ slide.name }}"/>
                        <div class="slider-content col-md-3 col-sm-5">
                            <h2>{{ slide.name }}</h2>
                            <p>{{ slide.name }}</p>
                            {% if slide.link is not empty %}
                                <a target="_blank" href="{{ slide.link }}">Посмотреть</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock top_slider %}

{% block blockquote %}
    <p>
        ООО «Гиролаб» (г.Пермь) — не государственная российская компания, специализирующаяся на

        разработке и производстве широкой линейки бесплатформенных инерциальных навигационных

        систем (БИНС) для применения в системах навигации, ориентации и стабилизации различных

        конечных изделий, требующих БИНС различного класса точности и функциональности для

        наземного, авиационного и морского применения.
    </p>
{% endblock blockquote %}

{% block mid_grid %}
    <div class="row row-padding-h">
        {% for block in midGridBlocks %}
            <div class="col-sm-4 col-xs-6 grid-box-inner">
                <h2>{{ block.name }}</h2>
                <div class="col-md-2 col-sm-2 col-xs-3 padding_left grid-icon">
                    <img src="{{ block.image.getResize("52x52x2")|relpath }}">
                </div>
                <div class="col-md-10 col-sm-10 col-xs-9">
                    {{ block.body|raw  }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock mid_grid %}

{% block social_block %}
    <ul>
        {% for block in socialBlocks %}
        <li>
            {{ block.extendedBody|raw }}
        </li>
        {% endfor %}
    </ul>
{% endblock social_block %}


{% block most_viewed %}

{% endblock most_viewed %}


{% block last_commented %}

{% endblock last_commented %}

{% block tag_of_the_day_and_last_commented %}

{% endblock tag_of_the_day_and_last_commented%}