{#

This file is part of the Mremi\ContactBundle Symfony bundle.

(c) Rémi Marseille <marseille.remi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% block body_text %}
{% autoescape false %}
Имя: {{ contact.firstName }},
Почта: {{ contact.email }},
Тема: {{ contact.subject }},
Сообщение: {{ contact.message }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% autoescape false %}
    На сайте gyrolab.ru была заполнена форма<br><br>
    Имя: {{ contact.firstName }},<br>
    Почта: {{ contact.email }},<br>
    Тема: {{ contact.subject }},<br>
    Сообщение: {{ contact.message|nl2br }}<br><br>
    ========================<br>Компания <a href="http://gyrolab.ru">Gyrolab</a>
{% endautoescape %}
{% endblock %}
